*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    border: 4px solid green;
    border-radius: 1%;
    margin: 0.2rem;
    
}
header{
    top: 0;
    background-color: aqua;
    
}
ul{
    padding: 1.5rem;
    display: flex;
    justify-content: space-evenly;

}
ul li{
    display: inline;
    align-items: center;
    font-size: 30px;
    color: blueviolet;
    border: 2px solid yellow;
    padding: 0.5rem;
    background-color: #ff0f0f25;
    border-radius: 20%;

}

li:hover{
    color: rgb(16, 92, 21);
    border: 2px solid yellow;
    
    font-size: 25px;

}
main{
    flex-grow: 1;
    background-color: aquamarine;
}
footer{
    bottom: 0;
    background-color: beige;
    text-align: center;
}
.first{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.first1 h1{
    text-align: center;
    font-size: 40px;
    padding:1rem;
    color: rgba(20, 67, 30, 0.989);
}
.first1 h4{
    text-align: center;
    font-size: 25px;
    color: #ff0f0f;
}
.first2{
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly; 
    gap: 1rem;
    
}
.first2 p{
    font-size: 40px;
}
.first21{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: larger;
    color: blue;
    font-size: 30px;

}
img{
    display: block;
    border: 1px solid green;
    border-radius: 50%;
    height: 50%;
    width: 50%;
}
.second h1{
    text-align: center;
    color: #ff0f0f;
    font-size: 40px;
}
.second1{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    justify-content: space-evenly;
    padding: 1rem;

}
.second article{
    border: 2px solid green;
    padding: 0.5rem;
}
article ul{
    display: flex;
    flex-direction: column;
    
    background-color: rgba(250, 235, 215, 0.424);
    padding: 1rem;

}
.second h3{
    font-size: 30px;
    color: blue;
    text-align: center;
    margin: 1rem;
}
.three1{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
}
.three h2{
    text-align: center;
    font-size: 40px;
    margin: 1.5rem;
    color: #ff0f0f;
}

figure{
    border: 1px solid green;
    padding: 1rem;
    background-color: rgba(250, 235, 215, 0.439);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3em;


}
figure:hover{
    background-color: #5b00a563;
}
figcaption{
    font-size: 30px;
    color:rgb(255, 0, 204);
    list-style-type: none;
}
.four1{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    margin: 1rem;
}
.four h1{
    text-align: center;
    color: #ff0f0f;
    font-size: 40px;
}
@media  screen and (max-width:400px){
    nav li{
        font-size: 25px;
        padding:0;
    }
    
}